<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>雨宿り最適化計画</title>
  </head>
  <body>
    雨宿り最適化計画
    <hr>
    iエリア<br>
    <form action="http://w1m.docomo.ne.jp/cp/iarea" method="get">
     <input type="hidden" name="ecode" value="OPENAREACODE">
     <input type="hidden" name="msn" value="OPENAREAKEY">
     <input type="hidden" name="posinfo" value="2">
     <input type="hidden" name="nl" value="{{redirect_url}}">
     <input type="submit" value="測位">
    </form>
    <hr>
    GPS<br>
    <form action="/docomo/gps" method="get" lcs>
     <input type="submit" value="測位">
    </form>
  </body>
</html>
