<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>雨宿り最適化計画</title>
  </head>
  <body>
    <table width="100%" bgcolor="#3B5A98">
      <tr>
        <td align="center"><font color="#FFFFFF">雨宿り最適化計画</font></td>
      </tr>
    </table>

    <font size="-1">
      <br>
      今いる場所の降雨状況と予測を、最大1時間先まで表示します。<br>
      雨宿りの参考にお役立てください。<br>
      <br>
    </font>

    <table width="100%" bgcolor="#CC0033">
      <tr>
        <td align="center"><font size="-1" color="#FFFFFF">◆ NTT docomo ◆</font></td>
      </tr>
    </table>

    <font size="-1"><br></font>
    <center>
      <a href="http://w1m.docomo.ne.jp/cp/iarea?ecode=OPENAREACODE&msn=OPENAREAKEY&posinfo=2&nl=http://{{host}}/docomo/cell">素早く調べる！</a><br>
      <font size="-1" color="#666666">(iエリア情報を使います)<br></font>
      <a href="/docomo/gps" lcs>正確な位置から調べる！</a><br>
      <font size="-1" color="#666666">(GPS位置情報を使います)<br></font>
    </center>
    <font size="-1"><br></font>

    <table width="100%" bgcolor="#F76B1F">
      <tr>
        <td align="center"><font size="-1" color="#FFFFFF">◆ au by KDDI ◆</font></td>
      </tr>
    </table>

    <font size="-1"><br></font>
    <center>
      <a href="device:location?url=/kddi/cell">素早く調べる！</a><br>
      <font size="-1" color="#666666">(簡易位置情報を使います)<br></font>
      <a href="device:gpsone?url=/kddi/gps&amp;ver=1&amp;datum=0&amp;unit=0">正確な位置から調べる！</a><br>
      <font size="-1" color="#666666">(GPS位置情報を使います)<br></font>
    </center>
    <font size="-1"><br></font>

    <table width="100%" bgcolor="#999999">
      <tr>
        <td align="center"><font size="-1" color="#FFFFFF">◆ SoftBank ◆</font></td>
      </tr>
    </table>

    <font size="-1"><br></font>
    <center>
      <a href="location:cell?url=/softbank/cell">素早く調べる！</a><br>
      <font size="-1" color="#666666">(簡易位置情報を使います)<br></font>
      <a href="location:gps?url=/softbank/gps">正確な位置から調べる！</a><br>
      <font size="-1" color="#666666">(GPS位置情報を使います)<br></font>
    </center>
    <font size="-1"><br></font>

    <hr size="1">

    <font size="-1">
      <font color="#666666">政令指定都市+α:<br>
      <a href="/view/43.0620/141.3542">札幌市</a> |
      <a href="/view/38.2682/140.8694">仙台市</a> |
      <a href="/view/35.8617/139.6456">さいたま市</a> |
      <a href="/view/35.6072/140.1064">千葉市</a> |
      <a href="/view/35.6886/139.6919">東京都</a> |
      <a href="/view/35.4441/139.6379">横浜市</a> |
      <a href="/view/35.5308/139.7030">川崎市</a> |
      <a href="/view/37.9161/139.0364">新潟市</a> |
      <a href="/view/34.9755/138.3824">静岡市</a> |
      <a href="/view/34.7107/137.7262">浜松市</a> |
      <a href="/view/35.1815/136.9064">名古屋市</a> |
      <a href="/view/35.0116/135.7681">京都市</a> |
      <a href="/view/34.6939/135.5021">大阪市</a> |
      <a href="/view/34.5733/135.4832">堺市</a> |
      <a href="/view/34.6904/135.1953">神戸市</a> |
      <a href="/view/34.6553/133.9197">岡山市</a> |
      <a href="/view/34.3852/132.4553">広島市</a> |
      <a href="/view/33.8834/130.8752">北九州市</a> |
      <a href="/view/33.5902/130.4016">福岡市</a> |
      <a href="/view/26.2124/127.6789">那覇市</a>
    </font>
  </body>
</html>
