<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>雨宿り最適化計画</title>
  </head>
  <body>
    <table width="100%" bgcolor="#3B5A98">
      <tr>
        <td align="center"><font color="#FFFFFF">雨宿り最適化計画</font></td>
      </tr>
    </table>

    <table border="1">
      {% for section in sections %}
        <tr>
          <td><img src="/image/{{area}}/{{section.image_time}}/{{section.image_ordinal}}.{{x}}.{{y}}.gif" width="41" height="41" border="0"></td>
          <td>{{section.time}} {{section.type}}</td>
          <td>{{section.minimum}}～{{section.maximum}}mm/h</td>
        </tr>
      {% endfor %}
    </table>

    <br>

    <center>
      <font size="-1">[ <a href="/">ホーム</a> ]</font>
    </center>
    <hr size="1">
    <center>
      <img src="http://maps.google.com/staticmap?center={{lat}},{{lng}}&zoom=7&size=200x100&format=gif&maptype=mobile&markers={{lat}},{{lng}},smallorange&key={{mapkey}}">
    </center>
    <hr size="1">
    <font size="-1" color="#999999">
      緯度経度: {{lat}}, {{lng}}<br>
      直交座標: {{x}}, {{y}} @{{area}}<br>
    </font>
  </body>
</html>
