<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>雨宿り最適化計画</title>
  </head>
  <body>
    <table width="100%" bgcolor="#3B5A98">
      <tr>
        <td align="center"><font color="#FFFFFF">雨宿り最適化計画</font></td>
      </tr>
    </table>

    <center>
     <font size="-1" color="#666666">現在時刻 : {{current_time_ja}}</font>
    </center>

    <table border="0">
      {% for record in records %}
        <tr>
          <td><img src="/image/{{area}}/{{record.image_time}}/{{record.image_ordinal}}.{{x}}.{{y}}.gif" width="41" height="41" border="0"></td>
          <td>
            {{record.time}}: {{record.type}}<br>
            {{record.rainfall}} mm/h
          </td>
        </tr>
      {% endfor %}
    </table>

    <center>
      <font size="-1">[ <a href="/">ホーム</a> ]</font>
    </center>

    <font size="-1" color="#666666">凡例:</font>
    <table border="0">
      <tr>
        <td><font size="-1"><font color="#99CCFF">■</font> &nbsp;0 ～ &nbsp;1</font></td>
        <td><font size="-1"><font color="#3366FF">■</font> &nbsp;1 ～ &nbsp;5</font></td>
        <td><font size="-1"><font color="#0000FF">■</font> &nbsp;5 ～ 10</font></td>
      </tr>
      <tr>
        <td><font size="-1"><font color="#00FF00">■</font> 10 ～ 20</font></td>
        <td><font size="-1"><font color="#FFFF00">■</font> 20 ～ 30</font></td>
        <td><font size="-1"><font color="#FF9900">■</font> 30 ～ 50</font></td>
      </tr>
      <tr>
        <td><font size="-1"><font color="#FF00FF">■</font> 50 ～ 80</font></td>
        <td><font size="-1"><font color="#FF0000">■</font> 80 以上</font></td>
      </tr>
    </table>
    <font size="-1" color="#666666">(単位: mm/h = 1時間あたりの降雨量)</font>

    <hr size="1">
    <center>
      <img src="http://maps.google.com/staticmap?center={{lat}},{{lng}}&zoom=7&size=180x100&format=gif&maptype=mobile&markers={{lat}},{{lng}},smallorange&key={{mapkey}}">
    </center>
    <hr size="1">
    <font size="-1" color="#999999">
      緯度経度: {{lat}}, {{lng}}<br>
      直交座標: {{x}}, {{y}} @{{area}}<br>
      観測日時: {{radar_time_ja}}<br>
      予測日時: {{nowcast_time_ja}}<br>
    </font>
  </body>
</html>
